[data-vxe-ui-theme="dark"] {
  /*form-design*/
  --vxe-ui-form-design-widget-hover-background-color: var(--vxe-ui-base-hover-background-color);
  --vxe-ui-form-design-sub-widget-hover-background-color: #27292b;
  
  /*list-design*/
  --vxe-ui-list-design-table-border-color: #37373a;
  --vxe-ui-list-design-table-header-background-color: #28282a;
}
