/*form-design*/
$vxe-ui-form-design-widget-hover-background-color: $vxe-ui-base-hover-background-color !default;
$vxe-ui-form-design-sub-widget-hover-background-color: rgba(0, 0, 0, 0.05) !default;

/*list-design*/
$vxe-ui-list-design-table-border-color: #e8eaec !default;
$vxe-ui-list-design-table-header-background-color: #f8f8f9 !default;


